
.container {
    display: flex;
    justify-content: space-between;
}

.meeting{
    margin-right: 200px;
}

#line{
    border: 1.2px solid grey;
    width: 400px;
    margin: 0px;
}

.label{
    font-weight: bold;
}



